h1 {
  text-align: center;
  color: brown;
  font-size: 60px;
}
.home-item {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 40px;
  font-weight: 500;
}
.home-list-item:hover {
  background-color: brown;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  text-align: center;
  padding-top: 7px;
}
.card {
  border-radius: 20px;
  height: 350px;
  width: 300px;
  background-color: white;
}
