div {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: rgb(148, 148, 148);
  font-size: small;
  font-weight: bold;
  align-items: center;
}
.logo {
  color: white;
  background-color: rgb(220, 35, 35);
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
}
.sign {
  color: rgb(107, 107, 138);
  border: solid 3px rgb(107, 107, 138);
  border-radius: 20px;
  padding: 10px;
}
.sign:hover {
  background-color: rgb(107, 107, 138);
  color: white;
}
